extends layout

block content
  h1= user.name
  h2 Connections

  = JSON.stringify(connections)

  ul
    for r, k in results
      li
        a(href="/users/" + k)= list[k].name
        span= " " + r
